body {
    background: url("bg.jpg");
    background-size: cover;
}

.header {
    display: flex;
    justify-content: center;
}

/* .toi {
    display: flex;
    justify-content: center;
    background: #000000bd;
}

.toi img {
    width: 15%;
} */

.video {
    display: flex;
    justify-content: center;
    margin: 0 2% 2% 2%;
    align-items: center;
    flex-direction: column;
}

video {
    width: 33%;
    border-radius: 30px;
}

.info {
    text-align: center;
    font-size: larger;
    color: burlywood;
    border-radius: 15px;
    font-size: 1.1rem;
    background-color: rgba(0, 0, 0, 0.452);
}

.up, .down{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.up .info{
    padding: 2%;
    margin-left: 3%;
}
.down .info{
    padding: 2%;
    margin-right: 3%;
}

.navbar {
    display: flex;
    width: 100%;
    /* border-radius: 50%; */
    /* position: fixed; */
    /* left: 0%; */
    /* height: 12vh; */
    align-items: center;
    justify-content: space-around;
    background: rgb(176 0 0 / 82%);
}

.navbar ul {
    align-items: center;
    justify-content: center;
    display: flex;
    list-style: none;
    font-family: 'Merriweather', serif;
}

.navbar ul li {
    margin: 25px;
    align-items: center;
    justify-content: center;
}

.navbar ul li a {
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    color: #0f0f0f;
    font-weight: 600;
    transition: 0.3s;
}

.navbar ul li a:hover {
    color: white;
    font-size: 1.4rem;
}

.logoname {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
}
.logoname img{
    width: 60%;
}

.logoname h1 a {
    color: white;
    letter-spacing: 2px;
    font-size: 30px;
    text-decoration: none;
}

.logoname h1 a:hover {
    color: #391b1b;
    transition: 0.5s;
}

.social-icons i{
	padding: 5px;
    font-size: 20px;
}
.social-icons i:hover{
	color: white;
    font-size: 22px;
}
#hero{
    display: flex;
}
.hero_l {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.hero_head {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero_head h1 {
    font-size: 2rem;
    color: white;
}

.breaking-news-section {
    padding: 0 30px 0 60px;
    display: flex;
    background: #0000007a;
}

#btext {
    width: 200px;
    font-size: 16px;
    text-transform: uppercase;
    color: #ff8559;
    font-weight: 600;
    margin: auto 0;
}

.breaking-news {
    padding: 30px;
    color: #fff;
    text-decoration: none;
    font-weight: 800;
}

.breaking-news:hover{
    color: #e08b6c;
    cursor: pointer;
}

.bntime {
    display: inline-block;
    color: rgb(255 255 255 / 69%);
    padding: 0 10px;
    font-size: 12px;
}
.hero_r {
    display: flex;
    flex-direction: column;
    padding: 10px;
    flex-basis: 25%;
    border: 1px solid #fff;
    border-radius: 5px;
    margin: 20px 0;
    color: white;
    align-items: center;
}
.hero_r h4{
    width: 100%;
    border-bottom: 1px solid;
    padding: 20px 0;
    text-align: center;
    margin: 0 0 0 2px;
}
.recent-news{
	display: flex;
}
.recent-news img{
	width: 70px;
	height: 70px; 
	margin: 10px;
}
.recent-news p{
	font-size: 14px;
	font-weight: bold;
	margin: auto;
}